<h1>hi <%= @user.first_name + " " +@user.last_name %></h1>
<% @user.posts.each do |p| %>

    <p><%= p.name %></p>
    <p><%= p.description %></p>
    <%= link_to "edit_post" ,edit_post_path(p) %>
    <br>
    <%= link_to "delete_post", post_path(p), method: :delete, data: {confirm: "are you sure"} %>
    <p>------------------------------------------------</p>
 <% end %>

 <%= link_to 'home' ,root_path %> 