<h1>hi <%= @user.first_name + " " +@user.last_name %></h1>
<% if(!is_friend(current_user,@user)&&!is_request_sent(current_user,@user)) %>
   <%= button_to 'Add_friend', user_friendships_path(@user), method: :post ,remote:true%>
<% elsif is_request_sent(current_user,@user) &&!is_friend(current_user,@user)%>
<%= link_to 'cancel-request', user_friendship_path(current_user,@user),method: :delete %>
<%else%>
    <%= button_to 'Unfriend', user_unfriend_path(@user), method: :delete ,remote:true%>
<%end %>
<h2>User Posts</h2>
<% @posts.each do |p| %>

    <p>title-<%= p.title %></p>
    <p>description-<%= p.description %></p>
    <%= link_to 'show-post',post_path(p) %>
    <% if can? :update, p %>
        <%= link_to "edit_post" ,edit_post_path(p) %>
    <% end %>
    <br>
    <% if can? :destroy, p %>
    <%= link_to "delete_post", post_path(p), method: :delete, data: {confirm: "are you sure"} %>
    <% end %>
    <p>------------------------------------------------</p>
 <% end %>
 <%= link_to 'back' ,:back %>

 <%= link_to 'home' ,root_path %> 